.body {
    text-align: center;
    background-color: lightgray;
}

@keyframes glitch {
    0% {
      transform: translate(0);
    }
    25% {
      transform: translate(2px, -2px);
    }
    50% {
      transform: translate(-2px, 2px);
    }
    75% {
      transform: translate(2px, -2px);
    }
    100% {
      transform: translate(0);
    }
  }

.dropdown { 
    text-align: center;
  } 

  .dropdown-content {
    display: none;
    position: absolute;
    width: 20%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
    animation: glitch 0.5s infinite;
}